repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=123"]
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: []
        additional_dependencies:
          - django-stubs[compatible-mypy]==5.2.7
          - django-modeltranslation==0.19.17
          - types-markdown==3.10.0.20251106
          - dj-database-url==2.3.0
          - django-environ==0.12.0
          - django-cotton==2.4.0
          - django-solo==2.4.0
          - django-cooco==0.0.1
          - types-beautifulsoup4==4.12.0.20250516

  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-handlebars
        files: "\\.html"
        types_or: ["html"]
      - id: djlint-handlebars
        args: ["--profile", "django"]
        files: "\\.html"
        types_or: ["html"]

  - repo: https://github.com/rbubley/mirrors-prettier # The official one was archived
    rev: v3.6.2
    hooks:
      - id: prettier

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.39.1
    hooks:
      - id: eslint
        args: ["--no-warn-ignored"]
