{% load cookie_consent_tags %}

{% is_cookie_consent_set request as cookie_consent_set %}

{% if not cookie_consent_set %}
    {% get_cookie_consent_banner as banner %}
    {% if banner.show_banner %}
        <div id="cookie_consent_banner"
             class="absolute w-full bottom-0 left-0 md:p-10 p-5">
            <div role="alert" class="alert md:px-10 outline outline-neutral">

                <div class="sm:col-span-2">
                    <h2 class="mb-2 text-xl font-heading">
                        {{ banner.title }}
                    </h2>
                    <p>
                        {{ banner.text }}
                    </p>
                </div>

                <div>
                    {% get_cookie_groups as cookie_groups %}
                    {% if cookie_groups|any_optional_cookie_group %}
                        <c-buttons.settings-button />
                    {% endif %}

                    <c-buttons.accept-button />
                </div>

                <c-buttons.close-button position-classes="md:right-12 md:top-12 right-7 top-7" onclick="document.getElementById('cookie_consent_banner').classList.add('hidden')" />

            </div>
        </div>
    {% endif %}
{% endif %}
