{% load i18n %}

<c-base name={{ personal_info.name }} :sections="sections" :csrf_token="csrf_token" only>
    <c-slot name="extra_head">
        <style>
        #background-picture {
            background-image: url(/media/background.jpg);
            background-size: cover;
        }
        </style>
    </c-slot>

    <div id="home" class="relative w-full h-full">
        <div id="background-picture" class="absolute h-full w-full -z-20">
        </div>
        <div class="absolute right-1/4 top-2/4 h-fit px-5">
            <h1 class="text-5xl mb-10 text-primary">
                {{ personal_info.name }}
            </h1>
            <h3 class="text-xl text-neutral-content">
                {{ personal_info.description }}
            </h3>
        </div>
    </div>
    <div id="about-me"
         class="relative w-full bg-base-300 text-neutral-content py-32">
        <div class="h-fit py-4 lg:max-w-screen-lg lg:mx-auto px-5">
            <div>
                <h1 class="text-5xl mb-10 text-primary">
                    {% translate "About me" %}
                </h1>
                <p>
                    {{ personal_info.biography|linebreaksbr }}
                </p>
            </div>
        </div>
    </div>
    <div id="my-career" class="w-full py-32 min-h-full">
        <div class="h-fit py-4 lg:max-w-screen-lg lg:mx-auto px-5">
            <h1 class="text-5xl mb-10 text-primary">
                {% translate "My Career" %}
            </h1>
            <c-experience-timeline :experiences="experiences" only />
        </div>
    </div>
</c-base>
