{% load i18n %}

<c-base name="{% translate "My Career" %}">
    <div id="my-career" class="w-full min-h-full p-5">
        {% if experiences %}
            <div class="h-fit py-4 lg:max-w-(--breakpoint-lg) lg:mx-auto px-5">
                <h1 id="my-career-title" class="text-5xl mb-10 text-primary">
                    {% translate "My Experience" %}
                </h1>
                <c-experience-timeline :items="experiences"
                                       item_type="experience"
                                       list_id="experiences-list"
                                       only />
            </div>
        {% endif %}

        {% if education_entries %}
            <div class="h-fit py-4 lg:max-w-(--breakpoint-lg) lg:mx-auto px-5">
                <h1 id="education-title" class="text-5xl mb-10 text-primary">
                    {% translate "Education" %}
                </h1>
                <c-experience-timeline :items="education_entries"
                                       item_type="education"
                                       list_id="education-list"
                                       only />
            </div>
        {% endif %}
    </div>
</c-base>
