{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="luxury">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{personal_info.name}}</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .section {
            scroll-snap-align: start;
        }

        .js-loading * {
            visibility: hidden;
        }
    </style>

    <script type="module" src="{% static 'load.js' %}?v=1.0.2"> </script>
    <script src="https://cdn.tailwindcss.com" defer></script>
</head>

<body class="js-loading">
    <div class="flex flex-col h-screen w-screen">
        <div class="navbar bg-base-200 p-5">
            <div class="navbar-start">
                <a class="btn btn-ghost text-xl" href="#home">{{home_link_text}}</a>
                <a class="btn btn-ghost text-xl" href="#biography">{{biography_link_text}}</a>
                <a class="btn btn-ghost text-xl" href="#experience">{{experience_link_text}}</a>
            </div>
            <!--<div class=" navbar-end">
                <button class="btn btn-square btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        class="inline-block h-5 w-5 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
                        </path>
                    </svg>
                </button>
            </div>-->
        </div>

        <progress id="progress-bar" class="progress w-full" value="0" max="100"></progress>

        <div id="container" class="bg-scroll overflow-auto h-full w-full"
            style="background-image: url(/background.jpg); background-size: cover; scroll-snap-type: y mandatory;">
            <div id="overlay" class="h-full w-full bg-base-100/10">
                <div class="max-w-screen-lg text-base-content align-middle px-2 mx-auto h-full">
                    <div id="home" class="section flex flex-col py-5 min-h-full text-primary-content">
                        <h1 class="text-5xl font-bold text-center mb-auto">
                            {{personal_info.name}}
                        </h1>
                    </div>
                    <div id="biography" id="summary" class="section py-5 text-left space-y-4 min-h-full">
                        {{personal_info.biography}}
                    </div>
                    <div id="experience" class="section py-5 text-left space-y-4 min-h-full">
                        {% for exp in experience %}
                        <div class="p-5 border-solid border-2 border-yellow-700 rounded-lg">
                            <div class="pb-10">
                                <h2 class="text-3xl bold">{{ exp.title }} at {{ exp.company }}</h2> <!-- TODO: translations -->
                                <div class="text-sm text-yellow-700">
                                    <p>{{ exp.start_date }} - {% if exp.end_date %}{{ exp.end_date }}{% else %}Present{% endif %}</p> <!-- TODO: translations -->
                                    <p>{{ exp.location }}</p>
                                </div>
                            </div>
                            <p>{{ exp.description|linebreaks }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>