@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: auto !important; /* https://github.com/saadeghi/daisyui/issues/3040 */
}

body {
  font-family: "Roboto";
}

.btn {
  @apply outline-none;
}

/* For disabled success toggle in cookie settings modal */
.toggle-success:disabled {
  border-color: var(--fallback-su, oklch(var(--su) / var(--tw-border-opacity)));
  background-color: var(--fallback-su, oklch(var(--su) / var(--tw-bg-opacity)));
  --togglehandleborder: 0 0;
}

/* To avoid focus background on menu link */
.menu a:focus {
  background-color: inherit;
}
