@import "tailwindcss";

@config '../../../tailwind.config.js';

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "portfolio";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  font-family: "Roboto";

  --color-base-100: #4b5563;
  --color-base-200: #434c59;
  --color-base-300: #3c4450;
  --color-base-content: oklch(90% 0.003 247.858);
  --color-primary: #fdba74;
  --color-primary-content: oklch(25% 0.09 281.288);
  --color-secondary: #93c5fd;
  --color-secondary-content: oklch(27% 0.072 132.109);
  --color-accent: #f97316;
  --color-accent-content: oklch(26% 0.051 172.552);
  --color-neutral: #111827;
  --color-neutral-content: oklch(90% 0 0);
  --color-info: #08638b;
  --color-info-content: oklch(90% 0.019 200.873);
  --color-success: #96c283;
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: #fef08a;
  --color-warning-content: oklch(42% 0.095 57.708);
  --color-error: #f87171;
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

html {
  scrollbar-gutter: auto !important; /* https://github.com/saadeghi/daisyui/issues/3040 */
}

.modal-box {
  @apply max-h-[calc(100vh-5rem)];
}

.btn {
  @apply outline-hidden;
}

/* For disabled success toggle in cookie settings modal */
.toggle-success:disabled {
  border-color: var(--fallback-su, oklch(var(--su) / var(--tw-border-opacity)));
  background-color: var(--fallback-su, oklch(var(--su) / var(--tw-bg-opacity)));
  --togglehandleborder: 0 0;
}

/* To avoid focus background on menu link */
.menu a:menu-focus {
  background-color: inherit;
}
