{% load i18n %}
{% load static %}
{% load cooco %}

{% get_cooco_manager request as cooco_manager %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" data-theme="portfolio">
    <head>
        <c-google-analytics />

        <meta charset="UTF-8">
        <meta name="keywords"
              content="{% translate "portfolio, CV, biography, career" %}{% if page_metadata.page_keywords %}, {{ page_metadata.page_keywords }}{% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ page_metadata.page_title }}</title>
        <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">

        <!-- Canonical URL -->
        <link rel="canonical"
              href="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}" />

        <!-- Hreflang tags for multilanguage support -->
        {% for lang_code, lang_name in LANGUAGES %}
            {% language lang_code %}
                <link rel="alternate"
                      hreflang="{{ lang_code }}"
                      href="{{ request.scheme }}://{{ request.get_host }}{% url request.resolver_match.url_name %}" />
            {% endlanguage %}
        {% endfor %}
        {% language 'en' %}
            <link rel="alternate"
                  hreflang="x-default"
                  href="{{ request.scheme }}://{{ request.get_host }}{% url request.resolver_match.url_name %}" />
        {% endlanguage %}

        <!-- Meta description -->
        <meta name="description" content="{{ page_metadata.page_description }}">

        <!-- Open Graph Cards -->
        <meta property="og:title" content="{{ page_metadata.page_title }}" />
        <meta property="og:description"
              content="{{ page_metadata.page_description }}" />
        <meta property="og:image"
              itemprop="image"
              content="{{ request.scheme }}://{{ request.get_host }}/media/background_preview.jpg">
        <meta property="og:url"
              content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}" />
        <meta property="og:type" content="profile" />

        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{ page_metadata.page_title }}" />
        <meta name="twitter:description"
              content="{{ page_metadata.page_description }}" />
        <meta name="twitter:image"
              content="{{ request.scheme }}://{{ request.get_host }}/media/background_preview.jpg" />

        <script type="module" src="{% static 'bundle.js' %}"></script>

        <style>
            .js-loading * {
                visibility: hidden;
            }
        </style>
        <script>
              window.addEventListener('load', () => {
                    document.body.classList.remove('js-loading');
              });
        </script>
        <script type="application/ld+json">{{ page_metadata.json_ld }}</script>

        {{ extra_head }}
    </head>
    <body class="js-loading overflow-hidden">
        <div class="flex flex-col h-dvh w-screen">
            <c-nav-bar :request="request" :csrf_token="csrf_token" only />
            <progress id="progress-bar"
                      class="progress progress-primary w-full h-1! shrink-0"
                      value="0"
                      max="100"></progress>
            <div id="container" class="overflow-y-auto">
                {{ slot }}
                <c-footer only />
            </div>
        </div>
        {% if cooco_manager|ask_for_cooco %}
            <c-cookie-consent-banner />
        {% endif %}
    </body>
</html>
